<h1>Celulares</h1>

<button (click)="filtrerByAlmacenamiento()">Filtrar Celulares de almacenamiento de 64GB</button>
<button (click)="filtrerByMarca()">Filtrar por Apple</button>
<button (click)="filtrerByYear()">Filtrar Celulares del año 2020</button>
<div class="product-card">

  @for(celular of celulares; track celular.marca) {
    <img alt="item" [src]="celular.urlImg"> 
    <div class="info">
      <p class="modelo">{{celular.modelo}}</p>
      <p class="almacenamiento">{{celular.almacenamiento}}</p>
      <p class="marca">{{celular.marca}}</p>
      <p class="year">{{celular.year}}</p>
    </div>
  }
</div>
